.sidebox, .noprint, #footer {
	display: none;
}
BODY {
  margin-left: 2px;
  padding:		0 10px 0 0;
  color:		#000000;
  font-size:		85%;
}
h1 {
  font-size:		100%;
  text-align:		center;
}
h2 {
  font-size:		100%;
  margin-bottom:	1em;
  text-align: center;
}
h3 {
  font-size:		100%;
  margin-bottom:	0.1em;
}
td {
  padding-right: 1cm;
}

