:root{
    --color-accent:  #F2E8DF; #BBAFA4;
    --color-accent:  #BBAFA4; #A68C6D; #B19B7F;
    --color-bg: #2c3e50;
    --color-bg: #6B4197;
}

#ie-hack { text-align: center; }



@media (min-width: 768px)
{
#content-area {
	background-color: #ffffff;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
}

@media (max-width: 768px)
{
    #banner1{
	display: none;
    }
}

#content-area {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}



.banner{
    color: var( --color-white );
    overflow: hidden;    
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    text-align:center;
    font-size: 1.8rem;
    padding-block-start: .8em;
    padding-block-end: 1.5em;
    background-image: url(https://lmf.cnrs.fr/downloads/DAAL2026/daal-banner.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    # -webkit-filter: grayscale(25%);
    # -moz-filter:    grayscale(25%);
    # -ms-filter:     grayscale(25%);
    # -o-filter:      grayscale(25%);
    # filter: saturate( 75% ); 
    position: relative;
}

#banner1 p, #banner3 p{
    color: var( --color-white );
    text-shadow: 2px 2px 4px var(--color-black);
    text-align: inherit;
    font-weight: normal;
    font-style: normal;
    width: revert;
    max-width: revert;
    margin-block-end: 0;
}

#banner2{
    color: var( --color-white );
    text-shadow: 2px 2px 4px var(--color-black);
    letter-spacing: 1px;
}

#banner3{
  font-size:1em;    
}

ul.plain {
	list-style-type: none;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

h2 {
	font-size: 2em; 
}

h3,h4,h5 {
	font-size: 1.4em;
}
h4, h5, h6 {
   font-size: 1.2em;
} 
h1,h3,h4,h5,h6 {
	background-color: inherit;
	# font-weight: normal;
	width: revert;
	max-width: revert;
}

h2{
    margin-top: .7em;
      width: revert;
      max-width: revert;
}

h4{
    background-color: #c4ccd4;
    padding: 5px;
}

#dateline {
	font-size: 60%;
	background-color: inherit;
	color: #208040;
	font-weight: normal;
	font-style: normal;
}

a.prominent:link, a.prominent:visited, a.prominent:active,
a.prominent:hover {
	background-color: inherit;
	text-decoration: none;
	color: #ff0000;
	font-weight: bold;
	font-size: 125%;
}
	
a {
    color: #352A27;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}


.slot{
    display: block;
    float: left;
    background-color: #F2E8DF; BF702A; #AB9F8F; #1BE7FF; #BCA89F;
    background-color: #F2E8DF; #F2F2F2;gainsboro;
    padding: 5px;
    padding-left: 5 px;
    margin: 5px;
    margin-right: 10px;
    margin-top: 0px;
    text-align: center;
} 

.time{
    display: block;
    font-size: 90%;
} 
.date{
    display: block;
    font-size: 70%;
    font-weight: bold;
} 

.talk::before{
    clear: both;
}

.talk{
    float:none;
}

.talk:after {
  content: "";
  display: table;
  clear: both;
}

.nontalk{
    display: block;
    font-style: italic;
    vertical-align: middle;
}

.author{
    display: inline; 
    font-weight: bold;
}


.heading{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em;
}

.heading::after{
    content: "";
    clear: both;
    display: table;
}

.chair{
    display: block;
    text-align: right;
    clear: both;
    margin-top: 5px;
    color: gray;
}

.chair::before{
    content: "Chair: ";
}

.bullet{
    clear: both;
    flex-direction: row;
    display: list-item;
}

.nobullet{
    display: block;
    margin-left: 2.7em;
    
}

.bullet::marker{
    font-size: 1.3em;
    list-style: inside;	
}

.bullet.heading{
    margin-left: 3.6rem;
}

.bullet::before{
}

.heading p:first-of-type{
    padding-top: .5em;
}

.abstract{
    clear: both;    
}

.title{
    display: inline;
    font-style: italic;
}

.divider {
  display: flex;
  flex-direction: row;
}
.divider:before, .divider:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.divider:before {
  margin-right: 10px
}
.divider:after {
  margin-left: 10px
}


